[api]
port=5000
token=pistar

[general]
timezone=system

[aliases]
host1=Síť 1
host2=Síť 2

[telegram]
enabled=false
bot_token=
chat_id=
thread_id=

[mqtt]
enabled=false
server=
port=1883
username=
password=
topic_pub=
topic_sub=
