[General]
Callsign=M1ABC
Id=1234567
Timeout=240
Duplex=0
RFModeHang=300
NetModeHang=300
Display=None
Daemon=1

[Info]
RXFrequency=438800000
TXFrequency=438800000
Power=1
Latitude=50.0
Longitude=0.0
Height=0
Location=A Town, L0C4T0R
Description=Country, UK
URL=http://www.mw0mwz.co.uk/pi-star/

[Log]
DisplayLevel=0
FileLevel=2
FilePath=/var/log/pi-star
FileRoot=MMDVM

[CW Id]
Enable=0
Time=10

[DMR Id Lookup]
File=/usr/local/etc/DMRIds.dat
Time=24

[NXDN Id Lookup]
File=/usr/local/etc/NXDN.csv
Time=24

[Modem]
Port=/dev/ttyACM0
TXInvert=1
RXInvert=0
PTTInvert=0
TXDelay=100
RXOffset=0
TXOffset=0
DMRDelay=0
RXLevel=50
TXLevel=50
RXDCOffset=0
TXDCOffset=0
RFLevel=100
CWIdTXLevel=50
D-StarTXLevel=50
DMRTXLevel=50
YSFTXLevel=50
P25TXLevel=50
NXDNTXLevel=50
RSSIMappingFile=/usr/local/etc/RSSI.dat
Trace=0
Debug=0

[Transparent Data]
Enable=0
RemoteAddress=127.0.0.1
RemotePort=40094
LocalPort=40095

[UMP]
Enable=0
Port=/dev/ttyACM1

[D-Star]
Enable=0
Module=B
SelfOnly=1
AckReply=1
AckTime=750
ErrorReply=1
RemoteGateway=0
ModeHang=20

[DMR]
Enable=0
Beacons=0
BeaconInterval=60
BeaconDuration=3
ColorCode=1
SelfOnly=1
EmbeddedLCOnly=0
DumpTAData=1
CallHang=3
TXHang=4
ModeHang=20

[System Fusion]
Enable=0
LowDeviation=0
SelfOnly=1
TXHang=4
RemoteGateway=0
ModeHang=20

[P25]
Enable=0
NAC=293
SelfOnly=1
OverrideUIDCheck=0
RemoteGateway=0
ModeHang=20

[NXDN]
Enable=0
RAN=1
SelfOnly=1
RemoteGateway=0
ModeHang=20

[D-Star Network]
Enable=0
GatewayAddress=127.0.0.1
GatewayPort=20010
LocalPort=20011
Debug=0
ModeHang=20

[DMR Network]
Enable=0
Address=87.117.229.173
Port=62031
Local=62032
Jitter=360
Password="passw1rd"
Slot1=0
Slot2=1
Debug=0
ModeHang=20

[System Fusion Network]
Enable=0
LocalAddress=127.0.0.1
LocalPort=3200
GatewayAddress=127.0.0.1
GatewayPort=4200
Debug=0
ModeHang=20

[P25 Network]
Enable=0
GatewayAddress=127.0.0.1
GatewayPort=42020
LocalPort=32010
Debug=0
ModeHang=20

[NXDN Network]
Enable=0
LocalAddress=127.0.0.1
LocalPort=14021
GatewayAddress=127.0.0.1
GatewayPort=14020
Debug=0
ModeHang=20

[TFT Serial]
Port=/dev/ttyAMA0
Brightness=50

[HD44780]
Rows=2
Columns=16
Pins=11,10,0,1,2,3
I2CAddress=0x20
PWM=0
PWMPin=21
PWMBright=100
PWMDim=16
DisplayClock=1
UTC=0

[Nextion]
Port=/dev/ttyAMA0
Brightness=50
DisplayClock=1
UTC=0
ScreenLayout=0
IdleBrightness=20

[OLED]
Type=3
Brightness=0
Invert=0
Scroll=0

[LCDproc]
Address=localhost
Port=13666
DimOnIdle=0
DisplayClock=1
UTC=0
